<div class="jumbotron">
  <div class="total">Total: {{total(produtos, pagamento) | currency:"R$":2}}</div>

  <h3>Produtos</h3>
  <table class="table table-striped">
    <tr>
      <th>Qtd</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
    </tr>
    <tr ng-repeat="produto in produtos">
      <td>
        <input 
          type="number" 
          ng-model="produto.quantidade" 
          value="1" 
          class="form-control quantidade"
          min="1">
      </td>
      <td>{{produto.nome}}</td>
      <td>{{produto.descricao}}</td>
      <td>{{produto.preco}}</td>
    </tr>
  </table>

  <hr/>

  <h3>Pagamento</h3>

  <div class="form-group">
    <label 
      class="col-md-4 control-label" 
      for="credit-card-number">
      Credit cart number
    </label>
    <div class="col-md-4">
      <input
        class="form-control" 
        ng-model="pagamento.cartao.number" 
        type="text" 
        placeholder="Credit card number" 
        id="credit-card-number"/>
    </div>
  </div>
   
  <div class="clearfix"></div>  

  <div class="form-group">
    <label 
      class="col-md-4 control-label"
      for="cvc"> 
      CVC
    </label>
    <div class="col-md-2">
      <input
        class="form-control" 
        ng-model="pagamento.cartao.cvc" 
        type="text" 
        placeholder="CVC" 
        id="cvc"/>
    </div>
  </div>

  <div class="clearfix"></div>  

  <div class="form-group">
    <label 
      class="col-md-4 control-label"
      for="month">
      Month
    </label>
    <div class="col-md-2">
      <input
        class="form-control" 
        ng-model="pagamento.cartao.month" 
        type="text" 
        placeholder="Month" 
        id="month"/>
    </div>
  </div>

  <div class="clearfix"></div>  

  <div class="form-group">
    <label 
      class="col-md-4 control-label"
      for="year">
      Year
    </label>
    <div class="col-md-2">
      <input 
        class="form-control" 
        ng-model="pagamento.cartao.year" 
        type="text" 
        placeholder="Year" 
        id="year"/>
    </div>
  </div>

  <div class="clearfix"></div>  

  <div class="form-group">
    <label 
      class="col-md-4 control-label"
      for="fullname">
      Fullname
    </label>
    <div class="col-md-6">
      <input  
        class="form-control" 
        ng-model="pagamento.cartao.holder.fullname" 
        type="text" 
        placeholder="Fullname" 
        id="fullname"/>
    </div>
  </div>

  <div class="clearfix"></div>  

  <div class="form-group">
    <label 
      class="col-md-4 control-label"
      for="birthdate">
      Birthdate
    </label>
    <div class="col-md-3">
      <input 
        class="form-control" 
        ng-model="pagamento.cartao.holder.birthdate" 
        type="text" 
        placeholder="Birthdate" 
        id="birthdate"/>
    </div>
  </div>

  <div class="clearfix"></div>  

  <div class="form-group">
    <label 
      class="col-md-4 control-label"
      for="cpf">
      CPF
    </label>
    <div class="col-md-3">
      <input 
        class="form-control" 
        ng-model="pagamento.cartao.holder.taxDocument.number" 
        type="text" 
        placeholder="CPF" 
        id="cpf"/>
    </div>
  </div>

  <div class="clearfix"></div>  

  <div class="form-group">
    <label 
      class="col-md-4 control-label"
      for="cupom">
      CUPOM
    </label>
    <div class="col-md-6">
      <input 
        class="form-control" 
        ng-model="pagamento.cupom" 
        type="text" 
        placeholder="Dica: Qualquer cupom A* é válido" 
        id="cupom"/>
    </div>
  </div>

  <div class="clearfix"></div>  

  <div class="form-group">
    <label 
      class="col-md-4 control-label"
      for="parcelas">
      Parcelas
    </label>
    <div class="col-md-3">
      <select class="form-control" ng-model="pagamento.installmentCount" id="parcelas">
        <option value="1">1 vez</option>
        <option value="2">2 vezes</option>
        <option value="3">3 vezes</option>
        <option value="4">4 vezes</option>
        <option value="5">5 vezes</option>
        <option value="6">6 vezes</option>
        <option value="7">7 vezes</option>
        <option value="8">8 vezes</option>
        <option value="9">9 vezes</option>
        <option value="10">10 vezes</option>
      </select>
    </div>
  </div>

  <div class="clearfix"></div>  

  <a class="btn btn-primary" ng-click="checkout(produtos, pagamento)">comprar</a>

  <hr/>

  <h3>Teste</h3>

  <h4>Escolha um cartão de teste do sandbox da Moip</h4>

  <a class="btn btn-primary" ng-click="mastercard()">Mastercard</a>
  <a class="btn btn-primary" ng-click="visa()">Visa</a>
  <a class="btn btn-primary" ng-click="amex()">Amex</a>
  <a class="btn btn-primary" ng-click="elo()">Elo</a>
  <a class="btn btn-primary" ng-click="dinners()">Dinners</a>
  <a class="btn btn-primary" ng-click="hiper()">Hiper</a>
  <a class="btn btn-primary" ng-click="hipercard()">Hipercard</a>

  <h4>Escolha um status de pagamento para testar</h4>
  <a class="btn btn-primary" ng-click="authorized()" ng-disabled="!pagamento.cartao.holder.fullname">AUTHORIZED</a>
  <a class="btn btn-primary" ng-click="cancelled()" ng-disabled="!pagamento.cartao.holder.fullname">CANCELLED</a>
</div>
