.jumbotron {
  width: 600px;
  text-align: center;
  margin: 10px auto;
  padding-left: 10px;
  padding-right: 10px; 
}

.table {
  margin-top: 20px;
}

.table td {
  text-align: left;
}

.form-control {
  margin-bottom: 4px;
}

.selecionado {
  font-weight: bold;
  color: green;
}

.quantidade {
  width: 70px;
}

.total {
  background: red;
  color: white;
  width: 600px;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: calc(50% - 300px);
  top: 0px;
  font-weight: bold;
}

.sk-cube-grid .sk-cube {
  background-color: white;
}

.btn.btn-primary {
  margin-top: 30px;
  margin-bottom: 30px;
}
